@media (max-width: 1400px) {}

@media (max-width: 1399px) {

    .d-content h3 {
        font-size: 29px;
        line-height: 30px;
    }

    .d-content p {
        font-size: 14px;
        line-height: 20px;
        color: var(--color-grey);
        margin: 15px 0;
    }

    .customers {
        margin-top: 40px;
        padding-bottom: 15%;
    }

    .customers1 {
        padding: 25px;
        font-size: 15px;
        line-height: 18px;
    }
    .c-box1{
        margin: auto;
    }

    h2 {
        padding: 5% 0;
        font-size: 30px;
    }
    .services_a{
        margin: auto;
    }
    .services h3 {
        font-size: 18px;
        line-height: 30px;
    }

    .services p {
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1199px) {
    .banner {
        padding: 4% 0;
    }

    .banner2 {
        display: none;
    }

    .banner1 {
        margin: 15% 0;
        text-align: center;
    }

    .banner1 h1 {
        font-size: 65px;
        line-height: 80px;
        padding-bottom: 10px;
    }

    .banner1 p {
        font-size: 19px;
        line-height: 20px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .about-title {
        margin-top: 30px;
    }

    .about-title h2 {
        font-size: 28px;
        line-height: 30px;
        padding-bottom: 8px;
    }

    .about-title p {
        font-size: 12px;
        line-height: 15px;
    }

    .abuot-img {
        margin-right: 8%;
        margin-left: 8%;
        padding-top: var(--space-space2);
    }

    .abuot-conten {
        padding: 30px;
    }

    .doctor {
        padding: 20px 0;
    }

    .d-content h3 {
        font-size: 25px;
        line-height: 30px;
    }

    .d-content p {
        font-size: 12px;
        line-height: 20px;
        margin: 10px 0;
    }

    .basic {
        width: 50%;
    }
    
    .basic_A{
        margin:10px auto;
    }
    .basic h6 {
        font-size: 15px;
    }

    .basic span {
        font-size: 13px;
        line-height: 20px;
    }

    .basic h5 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 20px;
    }

    .basic h2 {
        font-size: 35px;
        line-height: 71px;
        padding-bottom: 30px;
    }

    .basic p {
        font-size: 13px;
        line-height: 20px;
    }

    .ask2 h6 {
        font-size: 14px;
        line-height: 17px;
    }

    .ask2 p {
        font-size: 8px;
        line-height: 10px;
        padding: 8px 0;
    }

    .dog-conten h4 {
        font-size: 13px;
    }

    .dog-conten p {
        font-size: 10px;
    }

    .contact {
        padding: 5% 0;
    }

    .contact-form input {
        margin: 8px 7px;
        padding: 7px 6px;
    }

    .contact-form label {
        margin: 8px 6px;
    }

    .contact-form textarea {
        margin: 8px 6px;
    }

    .about-us p {
        font-size: 10px;
        line-height: 15px;
        color: #bab8b8fe;
    }

    .f-title {
        padding: 30px 0;
    }

    .f-title h2 {
        font-size: 16px;
        line-height: 27px;
    }

    .l-icon a {
        font-size: 12px;
        line-height: 20px;
    }

    .follow-us a {
        padding-left: 10px;
    }

    .subsribe input {
        padding: 8px ;
        text-align: center  ;
    }
}

@media (max-width: 991px) {
    .navbar-toggle-button {
        display: flex;
    }
    nav {
        text-align: center;
        position: fixed;
        top: 11%;
        left: -25%;
        bottom: 0;
        background-color: rgba(225, 221, 221, 0.651);   
        width: 25%;
        z-index: 999;
        transition: all 0.5s;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 10px;
    }

    .about-title {
        padding-bottom: 15px;
    }
    .about-title h2 {
        font-size: 20px;
        line-height: 25px;

    }

    .abuot-img {
        margin-right: 0;
        margin-left: 0;
        padding-top: 30px;
    }

    .abuot-conten {
        text-align: center;
        padding: 20px;
    }

    .abuot-img1 {
        width: 80%;
        margin: 20px;
    }

    .ask {

        margin-top: 10px;
        padding-left: 8%;
        padding-right: 8%;
        flex-direction: column;
    }

    .ask1 {
        width: 100%;
    }

    .ask2 {
        width: 100%;
    }

    .ask2 h6 {
        font-size: 17px;
        line-height: 20px;
    }

    .ask2 p {
        font-size: 11px;
        line-height: 25px;
    }

    .c-box {
        flex-wrap: wrap;
    }

    .customers-box {
        width: calc(50% - 40px);
    }

    .c-img {
        display: none;
    }

    .blog-title {
        flex-direction: column;
        margin: 0;
    }

    .blog-t {
        flex-direction: column-reverse;
    }

    .blog {
        width: 100%;
    }

    .s-title {
        flex-wrap: wrap;
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
    }

    .services {
        width: 50%;
        padding: 25px;
    }

    .c-form {
        flex-wrap: wrap;
    }

    .contact-form h3 {
        text-align: center;
        font-size: 30px;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form input {
        margin: 8px 6px;
        padding: 7px 6px;
    }

    .contact-form textarea {
        width: 100%;
    }

    .contact-form .btn {
        padding: 8px 15px;
        margin-top: 15px;
    }

    .contact-form1 {
        width: 100%;
    }

    .f-title {
        flex-wrap: wrap;
        padding: 30px 0;
    }

    .about-us {
        width: 50%;
    }

    .about-us p {
        font-size: 16px;
        line-height: 20px;
    }

    .l-icon {
        width: 50%;
        margin-bottom: 30px;
    }

    .l-icon a {
        font-size: 12px;
        line-height: 20px;
    }

    .follow-us {
        width: 50%;
    }

    .subsribe {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .banner1 {
        padding-top: 30px;
    }

    .banner1 h1 {
        font-size: 40px;
        line-height: 45px;
        padding-bottom: 20px;
    }

    .banner1 p {
        font-size: 18px;
        line-height: 20px;
    }

    button {
        padding: 4px 8px;
        font-size: 14px;
    }

    .abuot-img {
        flex-direction: column;
    }

    .a-img {
        flex-direction: column-reverse;
    }

    .abuot-img1 {
        width: 100%;
    }

    .abuot-conten {
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .doctor-title {
        flex-direction: column;
    }

    .d-content {
        width: 100%;
    }

    .d-img {
        width: 100%;
    }

    .pricing {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        flex-direction: column;
        margin: 0;
    }
    .basic {
        width: 100%;
    }

    .basic h6 {
        font-size: 10px;
        padding-bottom: 5px;
    }

    .basic span {
        font-size: 12px;
        line-height: 15px;
        padding-top: 18%;
    }

    .basic h5 {
        font-size: 22px;
        line-height: 25px;
        padding-bottom: 10px;
    }

    .basic h2 {
        font-size: 25px;
        line-height: 60px;
        padding-bottom: 30px;
    }

    .basic i {
        padding: 0 8px;
    }

    .basic p {
        font-size: 12px;
        line-height: 20px;
    }

    .ask {
        padding-right: 0%;
        padding-right: 0%;
    }

    .ask1 {
        width: 100%;
        margin: 0;
    }

    .ask2 {
        width: 100%;
        margin: 40px;
    }

    .ask2 h6 {
        font-size: 15px;
        line-height: 25px;
    }

    .ask2 p {
        font-size: 10px;
        line-height: 14px;
    }

    .c-box {
        flex-direction: column;
    }

    .customers-box {
        width: 100%;
        margin: 10px 0;
    }

    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .customers1 {
        font-size: 12px;
        line-height: 18px;
    }

    .dog-img {
        width: 150px;
        height: 150px;
        margin: 8px 10px;
    }

    .dog-conten h4 {
        font-size: 12px;
    }

    .dog-conten p {
        font-size: 10px;
        padding: 0px 0;
    }

    .dog-conten a {
        font-size: 10px;
    }

    .s-title {
        flex-direction: column;
    }

    .services {
        width: 100%;
        text-align: center;
    }

    .services h3 {
        font-size: 25px;
    }

    .contact {
        padding: 0;
    }

    .contact-form {
        margin: 0;
        padding-top: 40px;
    }

    .contact-form h3 {
        width: 100%;
        margin: 0;
    }

    .contact-form input {
        width: 10px;
        margin: 8px 4px;
        padding: 4px 3px;
    }

    .contact-form textarea {
        margin: 8px 4px;
    }

    .contact-form1 {
        padding-bottom: 40px;
    }

    .f-title {
        flex-direction: column;
        padding: 30px 0;
    }

    .about-us {
        width: 100%;
    }

    .l-icon {
        width: 100%;
    }

    .follow-us {
        width: 100%;
    }

    .subsribe {
        width: 100%;
    }

    .l-icon a {
        font-size: 16px;
        line-height: 27px;
    }

    .follow-us a {
        padding-left: 20px;
    }

    .subsribe input {
        padding: 8px 10px;
    }

    .f-end p {
        font-size: 12px;
        line-height: 10px;
    }

}

@media (max-width: 576px) {
    .banner {
        padding: 5% 0;
    }

    .banner1 {
        margin: 10% 0;

    }

    .banner1 h1 {
        font-size: 25px;
        line-height: 30px;
    }

    .banner1 p {
        font-size: 12px;
        line-height: 15px;
    }

    button {
        padding: 5px 10px;
        font-size: 10px;
    }

    .abuot-conten {
        text-align: center;
        padding: 10px;
    }

    .abuot-img1 {
        width: 100%;
        margin: 10px;
    }

    .blog {
        width: 100%;
        flex-direction: column;
    }

    .dog-conten {
        width: 100%;
        padding: 0 10px;
    }

    .blog-title {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .services h3 {
        font-size: 20px;
    }

    .l-icon {
        padding: 0;
    }

    .contact {
        padding: 0;
    }

    .contact-form {
        width: 100%;
        margin: 0;
    }

    .contact-form h3 {
        width: 100%;
        margin: 0;
        font-size: 20px;
        line-height: 30px;
    }

    .contact-form input {
        width: 100%;
        margin: 8px 4px;
        padding: 4px 3px;
    }

    input::placeholder {
        font-size: 10px;
    }

    .contact-form textarea {
        font-size: 12px;
        margin: 8px 4px;
    }

    .contact-form1 {
        width: 100%;
    }

    .about-us p {
        font-size: 10px;
        line-height: 15px;
    }

    .l-icon a {
        font-size: 12px;
        line-height: 20px;
    }
    .subsribe input{
        padding: 4px 8px;
    }
    .f-title{
        padding:0;
    }
    .f-end p{
        font-size: 12px;
        line-height: 20px;
    }

}